.card-task {
  background-color: white;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 0px 5px grey;
  transition: 0.3s ease;
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  overflow: hidden;
}

.grey-out {
  opacity: 0.3;
}

.card-task:hover {
  box-shadow: 0px 0px 10px grey;
}

.card-task:hover .card-action {
  opacity: 1;
}

.card-task-picture {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 4px 0px 0px 4px;
  color: white;
}

.card-task-content {
  width: calc( 100% - 90px );
  padding: 4px 8px 8px 4px;
}

.card-task-status {
  width: 10px;
  padding: 4px;
  background-color: grey;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
}

.card-action {
  position: absolute;
  bottom: 5px;
  right: 15px;
  opacity: 0;
}

.done {
  background-color: #6F7D6A;
}

.alert {
  background-color: #B50103;
}

.card-avatar {
  position: absolute;
  top: 195px;
  right: 5px;
  border-radius: 50%;
  width: 50px;
}

/*SMALL ITEM BOX*/

.card-item {
  background-color: white;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 0px 5px grey;
  transition: 0.3s ease;
  display: flex;
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.card-item:hover {
  box-shadow: 0px 0px 10px grey;
}

.card-item-content {
  width: calc( 100% - 10px );
  padding: 8px;
}

.card-item-status {
  width: 10px;
  padding: 4px;
  background-color: grey;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
}

/*CHECKLIST BOX*/

.card-checklist {
  box-shadow: 0px 0px 5px grey;
  color: white;
  transition: 0.3s ease;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  height: 150px;
  min-width: 150px;
  background-position: 50% 50%;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-checklist:hover {
  box-shadow: 0px 0px 10px grey;
  background-position: 50% 70%;
}

@media (max-width: 600px) {
  .card-checklist {
    height: 80px;
    padding: 15px 5px 10px 10px;
  }
}
