.checklist-overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  flex-grow: 1;
}

@media (max-width: 1000px) {
  .checklist-overview {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .checklist-overview {
    grid-template-columns: 1fr;
  }
}

.main-container {
  display: flex;
}
